body
{
	font-family: Ariel, sans-serif;
}

button, select
{
	border: 2px solid #526b93;
	border-radius: 4px;
	font-size: inherit;
	height: 1.5rem;
	width: auto;
}

table
{
}

th
{
	padding: 5px 10px;
}

.center-content
{
	text-align: center;
}

.data-cell
{
	background-color: #7fcdf9;
	padding: 5px 10px;
}

.datetime
{
	
}

.date
{
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    border: solid 1px #000000;
    width: 3rem;
	min-width: 3rem;
    height: 1.5rem;
	text-align: center;
}

.date:hover {
    background-color: #BFDCFF;
}

.form-elem
{
	float: left;
	margin-right: 1rem;
}

.large-col
{
	width: 20rem;
	min-width: 15rem;
}

.mag
{
	position: absolute;
	margin: auto;
	z-index: 20;
	pointer-events: none;
}

.nav-item
{
	color: white;
	display: inline-block;
	float: right;
	font-size: 1.5rem;
	text-align: center;
	text-decoration: none;
	width: 20%;
}

.nav-item:hover
{
	color: #dee1e5;
}

.slide
{
	position: absolute;
	opacity: 0;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.small-col
{
	width: 6rem;
	min-width: 6rem;
}

.sortable:hover
{
	color: #dee1e5;
	cursor: pointer;
	cursor: hand;
}

.table
{
	margin: 0;
}

.task-input
{
	height: 4rem;
	margin-bottom: 1rem;
	width: 20rem;
}

.thumbnail
{
	color: white;
	display: block;
	position: absolute;
	z-index: 30;
}

.thumbnail:hover
{
	transition: transform .3s;
	transform: scale(1.5);
}

.thumbnail-container
{
	position: relative;
	height: 120px;
	width: 180px;
	overflow: hidden;
}

.thumbnail-container-slide
{
	border: 3px solid white;
	position: relative;
	height: 120px;
	width: 180px;
	transition: border 0.2s;
}

.thumbnail-container-slide:hover
{
	border: 3px solid #526b93;
}

.thumbnail-slide
{
	color: white;
}

.thumbnail-slide:hover
{
}

#add-button
{
	width: 100%;
}

#calendar
{
	background-color: white;
	border: 1px solid black;
	position: absolute;
	display: none;
	z-index: 50;
}

#cat-form
{
	padding: 1rem;
}

#center-img
{
	border: 5px solid white;
	clear: both;
	height: 427px;
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}

#close
{
	color: gray;
	float: right;
	font-size: 3rem;
	margin-right: .4rem;
	cursor: pointer;
	cursor: hand;
}

#container
{
	margin-top: 3rem;
	width: 100%;
}

#gallery-table
{
	background-color: black;
	margin-left: auto;
	margin-right: auto;
}

#head-row
{
	background-color: #93add8;
	padding: 5px 10px;
}

#heading
{
	float: left;
	margin-left: 2rem;
	width: auto;
}

#heading:hover
{
	color: white;    
}

#input-form
{
	background-color: white;
	border: 1px solid black;
	display: none;
	padding: 1rem;
	position: absolute;
	z-index: 10;
	overflow: visible;
}

#left
{
	color: gray;
	font-size: 3rem;
	left: 1rem;
	position: absolute;
	top: 40%;
	cursor: pointer;
	cursor: hand;
	z-index: 110;
}

#lightbox
{
	background-color: black;
	position: fixed;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -100;
	transition: visibility 0s, opacity 0.3s linear;
}

#nav
{
	background-color: #526b93;
	position: fixed;
	left: 0;
	top: 0;
	height: 2rem;
	width: 100%;
	min-width: 40rem;
	z-index: 50;
}

#play
{
	color: gray;
	font-size: 2rem;
	margin-left: .4rem;
	margin-top: .4rem;
	cursor: pointer;
	cursor: hand;
}

#right
{
	color: gray;
	font-size: 3rem;
	right: 1rem;
	position: absolute;
	top: 40%;
	cursor: pointer;
	cursor: hand;
	z-index: 110;
}

#select-template
{
	display: none;
}

#slideshow-table
{
	background-color: white;
	position: absolute;
	bottom: 0;
	-webkit-transition: all ease 0.3s;
}

#submit-cat
{
	margin-top: 50%;
}

#thumb-container
{
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -95px;
}

#next-month, #prev-month, .thumbnail, .thumbnail-slide {
    cursor: pointer;
	cursor: hand;
}

#next-month:hover, #prev-month:hover {
    background-color: #E1E1E1;
}

#to-do-list, #gallery-table
{
	border: 1px solid black;
	margin-top: 1rem;
}

#close:hover, #left:hover, #right:hover, #play:hover
{
	color: white;
}