body
{
	font-family: Ariel, sans-serif;
}

table
{
}

th
{
	padding: 5px 10px;
}

.center-content
{
	text-align: center;
}

.dark
{
	background-color: #93add8;
	padding: 5px 10px;
}

.datetime
{
	
}

.large-col
{
	width: 300px;
	min-width: 200px;
}

.light
{
	background-color: #bcc7d8;
	padding: 5px 10px;
}

.mag
{
	position: absolute;
	margin: auto;
	z-index: 20;
	pointer-events: none;
}

.nav-item
{
	color: white;
	display: inline-block;
	float: right;
	font-size: 1.5rem;
	text-align: center;
	text-decoration: none;
	width: 20%;
}

.nav-item:hover
{
	color: #dee1e5;
}

.small-col
{
	width: 100px;
	min-width: 100px;
}

.table
{
	margin: 0;
}

.task-input
{
	height: 4rem;
	margin-bottom: 1rem;
	width: 20rem;
}

.thumbnail
{
	color: white;
	position: absolute;
	z-index: 30;
}

.thumbnail:hover
{
	top: -30px;
	left: -45px;
	width: 270px;
	height: 180px;
	display: block;
}

.thumbnail-container
{
	position: relative;
	height: 120px;
	width: 180px;
	overflow: hidden;
}

#center-img
{
	border: 5px solid white;
	clear: both;
	height: 680px;
	width: 1020px;
	margin-left: auto;
	margin-right: auto;
}

#close
{
	color: gray;
	float: right;
	font-size: 3rem;
	margin-right: .4rem;
}

#container
{
	width: 100%;
}

#gallery-table
{
	background-color: black;
	margin-left: auto;
	margin-right: auto;
}

#heading
{
	float: left;
	width: auto;
}

#input-form
{
	background-color: white;
	border: 1px solid black;
	display: none;
	padding: 1rem;
	position: fixed;
	z-index: 10;
}

#lightbox
{
	background-color: black;
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -100;
}

#nav
{
	background-color: blue;
	position: fixed;
	left: 0;
	top: 0;
	height: 2rem;
	width: 100%;
	z-index: 50;
}

#slideshow-table
{
	position: fixed;
	bottom: 0;
}

#to-do-list, #gallery-table
{
	border: 1px solid black;
	margin-top: 3rem;
}