body
{
	font-family: Ariel, sans-serif;
}

th, td
{
	padding: 5px 10px;
}

.dark
{
	background-color: #93add8;
}

.datetime
{
	
}

.large-col
{
	width: 300px;
	min-width: 200px;
}

.light
{
	background-color: #bcc7d8;
}

.nav-item
{
	display: inline-block;
	float: right;
	font-size: 1.5rem;
	text-align: center;
	width: 20%;
}

.small-col
{
	width: 100px;
	min-width: 100px;
}

.table
{
	margin: 0;
}

.task-input
{
	height: 4rem;
	margin-bottom: 1rem;
	width: 20rem;
}

#container
{
	width: 100%;
}

#heading
{
	float: left;
	width: auto;
}

#input-form
{
	background-color: white;
	border: 1px solid black;
	padding: 1rem;
	position: fixed;
	z-index: 10;
}

#nav
{
	background-color: blue;
	position: fixed;
	left: 0;
	top: 0;
	height: 2rem;
	width: 100%;
}

#to-do-list
{
	border: 1px solid black;
	margin-top: 5rem;
}